<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="m-2">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="bg-primary text-white text-center" colspan="2">
                            @RenderSection("Header")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @RenderBody()
                </tbody>
                <tfoot>
                    <tr>
                        <th class="bg-primary text-white text-center" colspan="2">
                            @RenderSection("Footer")
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>
</html>
