<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <h6 class="bg-primary text-white text-center m-2 p-2">
                @(ViewBag.Title ?? "Layout")
            </h6>
            @RenderBody()
        </div>
    </body>
</html>
