<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="bg-info text-white m-2 p-1">
            This is part of the layout
        </div>

        <h6 class="bg-primary text-white text-center -m-2 p-2">
            @RenderSection("Header")
        </h6>

        <div class="bg-info text-white m-2 p-1">
            This is part of the layout
        </div>

        <div class="m-2">
            <table class="table table-sm table-striped table-bordered">
                <tbody>
                    @RenderBody()
                </tbody>
            </table>
        </div>

        <div class="bg-info text-white m-2 p-1">
            This is part of the layout
        </div>

        <h6 class="bg-primary text-white text-center m-2 p-2">
            @RenderSection("Footer")
        </h6>

        <div class="bg-info text-white m-2 p-1">
            This is part of hew layout
        </div>
    </body>
</html>
