@page "/pages/bindings"
@model BindingsModel

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form asp-page-"Bindings" method="post">
                @for ( int i = 0; i < 2; i++ )
                {
                    <div class="form-group">
                        <label>Name #@i</label>
                        <input class="form-control" name="Data[@i].Name" value="Product-@i" />
                    </div>
                    <div class="form-group">
                        <label>Price #@i</label>
                        <input class="form-control" name="Data[@i].Price" value="@(100+i)" />
                    </div>
                }

                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary" asp-page="Bindings">Reset</a>
            </form>
        </div>
        <div class="col">
            <table class="table table-sm table-striped">
                <tbody>
                    <tr><th>Name</th><th>Price</th></tr>
                    @foreach ( Product p in Model.Data )
                    {
                        <tr><td>@p.Name</td><td>@p.Price</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@functions {
    public class BindingsModel : PageModel
    {
        [BindProperty(Name = "Data")]
        public Product[] Data { get; set; } = Array.Empty<Product>();
    }
}