@model CityViewModel

<table class="table table-sm table-bordered text-white bg-@ViewBag.Theme">
    <thead>
        <tr><th colspan="2">Cities Summary</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Cities:</td>
            <td class="text-end">
                @Model?.Cities
            </td>
        </tr>
        <tr>
            <td>
                Population
            </td>
            <td class="text-end">
                @Model?.Population?.ToString("N0")
            </td>
        </tr>
    </tbody>
</table>