@model Product
@{    Layout = "_SimpleLayout"; }

<h5 class="bg-primary text-white text-center p-2">HTML Form</h5>

<form asp-action="submitform" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="Name" value="@Model?.Name" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>