@model Product
@{    Layout = "_SimpleLayout"; }

<h5 class="bg-primary text-white text-center p-2">HTML Form</h5>

<form asp-action="submitform" method="post" id="htmlform">
    <div class="form-group">
        <labelasp-for ="ProductId">ProductId</labelasp-for>
        <input class="form-control" asp-for="ProductId" />
    </div>
    <div class="form-group">
        <label asp-for"Name">Name</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="form-group">
        @{ #pragma warning disable C58602 }
        <label asp-for="Category.Name">Category</label>
        @{ #pragma warning restore C58602 }
        <select class="form-control" asp-for="CategoryId">
            <option value="1">Watersports</option>
            <option value="2">Soccer</option>
            <option value="3">Chess</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Supplier.Name">Supplier</label>
        @{ #pragma warning disable C58602 }
        <input class="form-control" asp-for="Supplier.Name" />
        @{ #pragma warning restore C58602 }
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>

<button form="htmlform" asp-action="submitform" class="btn btn-primary mt-2">
    Submit (Outside Form)
</button>