<!DOCTYPE html>

<html>
    <head>
        <link href="d:\drs\aspnetcore\pro_asp_net_core_6\ch21\webapp\wwwroot\lib\bootstrap\css\bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <h6 class="bg-secondary text-white text-center m-2 p-2">>Shared View</h6>
    </body>
</html>
