<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link   href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
            asp-fallback-test-class="btn"
            asp-fallback-test-property="display"
            asp-fallback-test-value="inline-block"
            rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            asp-fallback-src="/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>
</head>
<body>
    <div class="m-2">
        @RenderBody()
    </div>
</body>
</html>
