@model Product

@{
    Layout = "_Layout";
    ViewBag.Title = "Product Table";
}

<!DOCTYPE html>

    <html>
    <head>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="m-2">
            <table class="table table-sm table-striped table-bordered">
                <tbody>
                    <tr><th>Name</th><td>@Model?.Name</td></tr>
                    <tr>
                        <th>Price</th>
                        <td>
                            @Model?.Price.ToString("C")
                            (@(((Model?.Price / ViewBag.AveragePrice) * 100).ToString("F2"))% of average price)
                        </td>
                    </tr>
                    <tr><th>Category ID</th><td>@Model?.CategoryId</td></tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
