@model Product

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h6 class="bg-primary text-white text-center m-2 p-2">Watersports</h6>
    <div class="m-2">
        <table class="table table-sm table-striped table-bordered" data-id="@Model?.ProductId">
            <tbody>
                @if (Model?.Price > 200)
                {
                    <tr><th>Name</th><td>Luxury @Model?.Name</td></tr>
                }
                else
                {
                    <tr><th>Name</th><td>Basic @Model?.Name</td></tr>
                }
                <tr><th>Price</th><td>@Model?.Price.ToString("C")</td></tr>
                <tr><th>Tax</th><td>@Model?.Price * 0.2m</td></tr>
                <tr><th>Tax</th><td>@(Model?.Price * 0.2m)</td></tr>
            </tbody>
        </table>
    </div>
</body>
</html>
